---
import Layout from '../layouts/Layout.astro';

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect('/login');
}
---

<Layout title="Home">
  <h1>Hi, {user.username}!</h1>
  <p>Your user ID is {user.id}.</p>
  <form method="post" action="/api/logout">
    <button>Sign out</button>
  </form>
</Layout>

<script>
  document.forms[0].addEventListener('submit', async e => {
    e.preventDefault();
    const formElement = e.target as HTMLFormElement;
    await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    });
    window.location.href = '/login';
  });
</script>
